hr {
  margin: var(--space-xl) auto;
  white-space: nowrap;
  font-weight: 300;
  font-size: var(--fs-2);
  text-align: center;
  height: 1.5em;
}

hr::before {
  content: "***";
  color: var(--tomato-9);
}
