---
import { getCollection } from 'astro:content'
import PostCard from '../../components/PostCard.astro'
import Base from '../../layouts/Base.astro'

const projects = (await getCollection('posts')).sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime(),
)
---

<Base title="Bonjour">
	<h1>Notes</h1>
	<div class="region flow">
		{projects.map((el) => <PostCard slug={el.slug} />)}
	</div>
</Base>