blockquote {
  border-left: 4px solid var(--tomato-9);
  color: var(--gray-11);
  margin: var(--space-m) 0;
  padding: var(--space-2xs) var(--space-m);
  font-style: italic;
}

.prose blockquote p {
  margin: 0;
}

.prose blockquote a {
  color: var(--gray-11);
}
