.full-width-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  max-width: 100vw;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: #aaa;
  margin: 2rem 0;
}

.full-width-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
  object-fit: cover;
}

@media (max-width: 1080px) {
  .full-width-container {
    width: 93vw;
    padding: 0.2rem;
    border-radius: 0.4rem;
  }

  .full-width-container img {
    border-radius: 0.2rem;
  }
}
