h1,
.h1 {
  font-size: var(--fs-5);
  line-height: var(--lh-5);
}

h2,
.h2 {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
}

h3,
.h3 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "EditorialNew", serif;
  font-weight: 400;
  color: var(--gray-12);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: "EditorialNew", serif;
  font-weight: 300;
  color: var(--gray-12);
}
