h1,
.h1 {
  font-size: var(--fs-4);
  font-weight: 700;
  line-height: 1.2;
  --flow-space: var(--space-l);
}

h2,
.h2 {
  font-size: var(--fs-3);
  font-weight: 700;
  line-height: 1.3;
  --flow-space: var(--space-m);
}

h3,
.h3 {
  font-size: var(--fs-2);
  font-weight: 700;
  line-height: 1.4;
  --flow-space: var(--space-s);
}
