::selection {
  background-color: var(--tomato-9);
  color: var(--gray-1);
}

::-moz-selection {
  background-color: var(--tomato-9);
  color: var(--gray-1);
}

html.dark ::selection {
  background-color: var(--tomato-9);
  color: var(--gray-12);
}

html.dark ::-moz-selection {
  background-color: var(--tomato-9);
  color: var(--gray-12);
}
