a:not([class]), .link {
	color: var(--gray-12);
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--gray-10);
	text-decoration-thickness: 1px;
	transition: color 0.3s ease, text-decoration-color 0.3s ease;
  }
  
a:not([class]):hover, .link:hover {
	text-shadow: 0 0 0.2px currentColor;
	text-decoration-color: var(--gray-12);
}