a:not([class]), .link {
  color: var(--tomato-9);
  text-decoration: underline;
  text-decoration-color: var(--gray-6);
  transition:
    color var(--duration-fast, 150ms) ease,
    text-decoration-color var(--duration-fast, 150ms) ease;
}

a:not([class]):hover, .link:hover {
  color: var(--tomato-9);
  text-decoration-color: var(--tomato-9);
}