a:not([class]), .link {
	color: var(--gray-12);
	text-decoration: underline wavy;
	text-decoration-color: var(--gray-10);
}
  
a:not([class]):hover, .link:hover {
	text-shadow: 0 0 0.2px currentColor;
	text-decoration-color: var(--gray-12);
}