ul,
ol {
  padding-inline-start: 0.9ch;
  list-style: revert;
}
li {
  padding-inline-start: var(--space-2xs);
  & + li {
    margin-block-start: var(--space-3xs);
  }
  &::marker {
    color: var(--tomato-9);
  }
}
