@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/fonts/EditorialNew-Ultrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
