*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  scroll-margin-top: var(--space-xl);
  margin: 2em 0 1em;
}

.prose h5,
.prose h6 {
  margin: 1.5em 0 0.5em;
}
.prose p {
  margin: 1em 0 1.5em;
}
.prose ul,
.prose ol {
    margin-top: 1em;
    padding-left: 1.5em;
}
.prose pre {
  margin: 1.5em 0;
}

body {
  line-height: var(--lh-1);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}
