@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/amber.css';

:root {
	--fs--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
	--fs--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
	--fs-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--fs-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
	--fs-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
	--fs-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
	--fs-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
	--fs-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
	--space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
	--space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
	--space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
	--space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
	--space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

	--border-weight: 1px;

    --gray-1: hsl(0, 0%, 99%);
	--gray-6: hsl(0, 0%, 85%);
	--gray-8: hsl(0, 0%, 60%);
    --gray-11: hsl(0, 0%, 40%);
    --gray-12: hsl(0, 0%, 7%);
	
	color-scheme: light;
}

html[data-theme='dark'] {
    --gray-1: hsl(0, 0%, 7%);
	--gray-6: hsl(0, 0%, 20%);
	--gray-8: hsl(0, 0%, 40%);
    --gray-11: hsl(0, 0%, 65%);
    --gray-12: hsl(0, 0%, 98%);
	
	color-scheme: dark;
}