.fs--2 {
  font-size: var(--fs--2);
}
.fs--1 {
  font-size: var(--fs--1);
}
.fs-0 {
  font-size: var(--fs-0);
}
.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-5 {
  font-size: var(--fs-5);
}
