---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"About me"}>
  <h1 class="h2">About me</h1>
  <section <p>
    Hey there! I'm <strong>David</strong>—a software engineer, designer,
    and all-around curious human who's always building something cool. I love
    tech, design, and figuring out how to make things better (or at least look
    awesome).
  </section>

  <h2>What I'm About</h2>
  <p>
    Right now, I'm the Head of Design at <strong>WOX</strong>, working on
    creative ways to bring clean energy to life. I design all the cool
    stuff—logos, apps, branding—you name it. And when I'm not doing that, I'm
    freelancing on <strong>Contra</strong>, helping brands look their best with
    killer logos and designs.
  </p>
  <p>
    I've also got this thing for side projects. Whether it's building a SaaS app
    to help people learn faster or exploring blockchain just because it's the
    future, I'm all in for anything that's challenging and fun.
  </p>

  <h2>When I'm Not Working</h2>
  <p>
    You'll find me learning random stuff like math or science for fun, helping
    friends with their projects, or brainstorming new ideas to bring to life. I
    also love diving into storytelling through design, animation, or even
    filmmaking (still figuring that one out!).
  </p>

  <h2>Let's Chat</h2>
  <p>
    If you're looking for someone to collab with, need a designer, or just want
    to nerd out about tech or creativity, <strong>hit me up</strong>. Always
    happy to connect!
  </p>
</BaseLayout>
