---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import FilmCard from "../components/FilmCard.astro";

const filmEntries = await getCollection("films");
const allFilms = filmEntries.map((entry) => entry.data);
---

<BaseLayout
  title="Film Shelf"
  description="A curated list of films that have inspired, moved, or entertained me."
>
  <CenteredLayout>
    <PageHeader
      title="Film Shelf"
      description="Films I've watched, loved, or want to see"
    />
  </CenteredLayout>
  <div class="page-wrapper">
    <div class="filmshelf-grid">
      {allFilms.map((film) => <FilmCard film={film} />)}
    </div>
  </div>
</BaseLayout>

<style>
  .page-wrapper {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .filmshelf-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.5rem;
  }

  @media (min-width: 640px) {
    .filmshelf-grid {
      grid-template-columns: repeat(auto-fit, 220px);
      justify-content: center;
    }
  }
</style>
