---
import BaseLayout from "../layouts/BaseLayout.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { Icon } from "../components/Icon/Icon";
import MusicWidget from "../components/MusicWidget.tsx";
---

<BaseLayout
  title="Hello"
  description="I'm David, a developer and designer. I spend my days writing code, designing when it's needed, and figuring out how to make ideas work better on the web."
>
  <CenteredLayout>
    <section class="flow">
      <h2>
        I'm a developer and designer. I spend my days writing code, designing
        when needed, and finding better ways to make ideas work on the web.
      </h2>
      <div class="widget"><MusicWidget client:visible /></div>

      <h3>Now</h3>
      <p>
        I'm currently a frontend engineer at <a href="https://yolat.com/" target="_blank">Yolat</a>. Before that, I worked in both full-time and freelance roles with <a href="https://www.linkedin.com/in/david-umoru/" target="_blank">several startups</a>.
      </p>
      <p>
        These days, my focus is on refining the fundamentals of my craft, learning deeply, and building <a href="https://github.com/davidumoru" target="blank">useful tools</a>. I'm also figuring how to balance all the aspects of my life without neglecting any of them.
      </p>
      <p>
        Sometimes I <a href="/posts" target="_self">write</a> about what I'm learning; other times, I just write.
      </p>

      <h3>More</h3>
      <div class="contact">
        <a
          href="https://playground.davidumoru.me/"
          target="_blank"
          class="link"
        >
          <Icon icon="arrowRightUp" size="22" /> Visit My Playground
        </a>
        <a href="https://cal.com/umoru" target="_blank" class="link">
          <Icon icon="arrowRightUp" size="22" /> Schedule a Call with Me
        </a>
        <a
          href="https://buymeacoffee.com/theumoru"
          target="_blank"
          class="link"
        >
          <Icon icon="arrowRightUp" size="22" /> Buy Me a Coffee
        </a>
      </div>

    </section>
  </CenteredLayout>
</BaseLayout>

<style>
  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    width: fit-content;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: var(--space-xs);
  }
  .widget {
    margin: var(--space-l) 0 0;
    max-width: 42rem;
  }

  h3 {
    margin-top: var(--space-xl);
  }
</style>