---
import BaseLayout from "../layouts/BaseLayout.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { Icon } from "../components/Icon/Icon";
import Spotify from "../components/Spotify.astro";
---

<BaseLayout
  title="Hello"
  image="https://www.davidumoru.me/static/meta/meta-image.webp"
>
  <CenteredLayout>
    <section class="flow">
      <h1 class="fs-2">Hello, I'm David :)</h1>
      <p>
        I build things, mess around with code a lot. Design too, when it feels
        right or when the idea needs it.
      </p>
      <p>
        <a
          href="https://calendly.com/umorudavido/30min"
          target="_blank"
          class="link"
          ><Icon icon="arrowRightUp" size="20" /> Book a quick call</a
        >
      </p>

      <h2>Now</h2>
      <p>
        Writing CSS. Probably watching way too much YouTube. Also playing around
        with new ideas.
      </p>
      <p>
        <a href="/lab" class="link"
          ><Icon icon="arrowRightUp" size="20" /> Explore my Lab</a
        >
      </p>
    </section>

    <hr />

    <Spotify />
  </CenteredLayout>
</BaseLayout>

<style>
  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
  }
</style>
