---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import SimplePostCard from "../components/SimplePostCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("posts"))
  .sort(
    (a, b) =>
      new Date(b.data.datePublished).getTime() -
      new Date(a.data.datePublished).getTime()
  )
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter((el) => el.data.highlight === true)
  .sort((a, b) => b.data.year - a.data.year);
---

<BaseLayout title="Hello">
  <section class="flow">
    <h1>Hello, I'm David :)</h1>
    <p>
      Depending on who you ask, I'm a designer who writes code or a developer
      who loves good design. I majored in CS, and now I’m just figuring things
      out— building, exploring, experimenting, and now using writing as a way to
      understand myself better.
    </p>
    <h2>Now</h2>
    <p>
      Enjoying CSS, doing side quests, exploring new ideas in software and
      design, and dreaming up ways to travel the world.
    </p>
    <p><a href="/now" class="link">&rightarrow; See details</a></p>
  </section>

  <hr />

  <section class="flow">
    <h2>Recent Posts</h2>
    <div class="region flow">
      {
        posts.map((post) => (
          <SimplePostCard
            url={`posts/${post.id}`}
            title={post.data.title}
            datePublished={post.data.datePublished}
          />
        ))
      }
      <a href="/posts" class="link">&rightarrow; All notes</a>
    </div>
  </section>
</BaseLayout>
