---
import BaseLayout from "../layouts/BaseLayout.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { Icon } from "../components/Icon/Icon";
import MusicWidget from "../components/MusicWidget.tsx";
---

<BaseLayout
  title="Hello"
  description="I'm David, a developer and designer. I spend my days writing code, designing when it’s needed, and figuring out how to make ideas work better on the web."
>
  <CenteredLayout>
    <section class="flow">
      <h2>In a nutshell</h2>
      <p>
        I'm a developer and designer. I spend my days writing code, designing
        when needed, and figuring out how to make ideas work better on the web.
      </p>
      <div class="widget"><MusicWidget client:visible /></div>

      <h2>Now</h2>
      <p>
        I'm focused on learning deeply, building useful tools, and occasionally
        writing. Sometimes I write about what I'm learning. Sometimes I just
        write.
      </p>

      <h2>More</h2>
      <div class="contact">
        <a href="/lab" class="link">
          <Icon icon="arrowRightUp" size="22" /> Explore My Lab
        </a>
        <a
          href="https://playground.davidumoru.me/"
          target="_blank"
          class="link"
        >
          <Icon icon="arrowRightUp" size="22" /> Visit My Playground
        </a>
        <a href="https://cal.com/umoru" target="_blank" class="link">
          <Icon icon="arrowRightUp" size="22" /> Schedule a Call with Me
        </a>
        <a href="https://buymeacoffee.com/theumoru" target="_blank" class="link">
          <Icon icon="arrowRightUp" size="22" /> Buy Me a Coffee
        </a>
      </div>
    </section>
  </CenteredLayout>
</BaseLayout>

<style>
  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.5em;
  }

  .widget {
    margin-top: 1.5em;
  }
</style>
