---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "../components/Icon/Icon";
---

<BaseLayout
  title="Hello"
  image="https://www.davidumoru.me/static/meta/meta-image.webp"
>
  <section class="flow">
    <h1 class="fs-3">Hello, I'm David :)</h1>
    <p>
      Depending on who you ask, I'm a designer who writes code or a developer
      who loves good design. I majored in CS, and now I’m just figuring things
      out— building, exploring, experimenting, and now using writing as a way to
      understand myself better.
    </p>
    <h2>Now</h2>
    <p>
      Enjoying CSS, doing side quests, exploring new ideas in software and
      design, and dreaming up ways to travel the world.
    </p>
    <p>
      <a href="/now" class="link"
        ><Icon icon="arrowRight" size="16" /> See details</a
      >
    </p>
  </section>

  <hr />

  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/playlist/57ZdpbE7DrZ1Y3wjjiQPsO?utm_source=generator"
    width="100%"
    height="352"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</BaseLayout>
