---
import { getCollection } from 'astro:content'
import ProjectCard from '../components/ProjectCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.year - a.data.year,
)
---

<BaseLayout title="Projects" image="https://www.davidumoru.me/static/meta/projects-meta.webp">
	<h1>Projects</h1>
	<div class="region flow">
		{projects.map((el) => <ProjectCard slug={el.slug} />)}
	</div>
</BaseLayout>