---
import { getCollection } from "astro:content";
import Webring from "../components/Webring.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import PageHeader from "../components/PageHeader.astro";

const webrings = await getCollection("webrings");
---

<BaseLayout
  title="Webrings"
  description="A curated collection of interconnected personal sites I belong to"
>
  <CenteredLayout>
    <PageHeader
      title="Webrings"
      description="Webrings I belong to"
    />
    <section>
      <div class="webrings">
        {webrings.map((webring) => <Webring webring={webring} />)}
      </div>
    </section>
  </CenteredLayout>
</BaseLayout>

<style>
  .webrings {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }
</style>
