@import "./base/index.css";
@import "./global/index.css";
@import "./components/index.css";
@import "./utilities/index.css";

body {
  margin: 0.2em 0;
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-l);
  font-size: var(--fs-0);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: var(--gray-1);
  color: var(--gray-11);
  position: relative;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 1024px) {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='discrete' tableValues='0.2 0.2 0.3 0.4 0.5'/%3E%3CfeFuncG type='discrete' tableValues='0.2 0.2 0.3 0.4 0.5'/%3E%3CfeFuncB type='discrete' tableValues='0.2 0.2 0.3 0.4 0.5'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
    opacity: 0.03;
    pointer-events: none;
    z-index: -1;
    will-change: transform;
  }
}
