@import './base/index.css';
@import './global/index.css';
@import './components/index.css';
@import './utilities/index.css';

body {
	margin: 0.2em 0;
	padding-block-end: var(--space-xl);
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: var(--space-l);
	-webkit-font-smoothing: antialiased;
	font-size: var(--fs-0);
	line-height: 1.4;
	font-family: "Geist Mono", monospace;
	background: var(--gray-1);
	color: var(--gray-12);
}