---
import SubscribeForm from "./SubscribeForm.astro";
---

<footer>
    <div class="content container">
      <div class="links">
        <a href="/now">Now</a>
        <a href="/list-100">List 100</a>
        <a href="/bookshelf">Bookshelf</a>
        <a href="/webrings">Webrings</a>
        <a href="/rss.xml" target="_blank">RSS</a>
      </div>
      <div class="links">
        <a href="mailto:hey@davidumoru.me" target="_blank">Mail</a>
        <a href="https://github.com/davidumoru" target="_blank" rel="me">GitHub</a>
        <a href="https://linkedin.com/in/david-umoru/" target="_blank" rel="me"
          >LinkedIn</a
        >
        <a href="https://x.com/theumoru" target="_blank" rel="me">X (Twitter)</a>
        <a href="https://www.instagram.com/theumoru/" target="_blank" rel="me"
          >Instagram</a
        >
      </div>
      <div class="banner">
        <span class="emoji">🌱</span>
        <a
          href="https://www.who.int/health-topics/mental-health"
          target="_blank"
        >
          Take Care of Your Mind
        </a>
      </div>
      <div class="subscribe">
        <SubscribeForm />
      </div>
    </div>
</footer>

<style>
  footer {
    margin-top: var(--space-2xl);
    padding-block: var(--space-xl);
    width: 100%;
    border-top: 1px solid var(--gray-7);
    margin-bottom: -7rem;
  }

  .content {
    display: grid;
    grid-template: "links1 links2 form" 1fr "banner banner form" auto / 0.5fr 0.5fr 2fr;
    gap: var(--space-m) var(--space-xl);
  }

  @media (width < 650px) {
    .content {
      grid-template: "form form" "links1 links2" "banner banner" / 1fr 1fr;
      gap: var(--space-xl);
    }
  }

  .links {
    display: flex;
    flex-flow: column wrap;
    gap: var(--space-2xs);

    a {
      font-family: 'EditorialNew', sans-serif;
      color: var(--gray-12);
    }
    a:hover {
      color: var(--gray-12);
      text-decoration-color: var(--gray-12);
    }
  }

  .subscribe {
    grid-area: form;
  }

  .banner {
    grid-area: banner;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    transition: background-color var(--duration-fast, 150ms) ease;

    .emoji {
      padding: 0 2px 0 0;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      color: var(--gray-12);
    }
  }
</style>
