---
const links = [
  ["mailto:hey@davidumoru.me", "Mail"],
  ["https://github.com/davidumoru/", "Github"],
  ["https://www.linkedin.com/in/david-umoru/", "LinkedIn"],
  ["https://twitter.com/thedavidumoru/", "Twitter"],
  ["https://www.instagram.com/theumoru/", "Instagram"],
];
---

<footer class="container" data-type="large">
  {
    links.map(([url, label]) => (
      <a href={url} class="shade">
        {label}
      </a>
    ))
  }
</footer>

<style>
  footer {
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-block: var(--space-s);
    row-gap: var(--space-s);
    a {
      font-size: var(--fs--1);
    }
    a:not(:last-child)::after {
      content: "|";
      color: var(--gray-6);
      margin-inline: var(--space-2xs);
    }
  }
</style>
