---
import SubscribeForm from "./SubscribeForm.astro";
---

<footer class="container">
  <div class="content">
    <div class="links">
      <a href="/about">About</a>
      <a href="/webrings">Webrings</a>
      <a href="/guestbook">Guestbook</a>
      <a href="/rss.xml">RSS</a>
      <a href="/colophon">Colophon</a>
    </div>
    <div class="links">
      <a href="mailto:hey@davidumoru.me" target="_blank">Mail</a>
      <a href="https://github.com/davidumoru" target="_blank">GitHub</a>
      <a href="https://linkedin.com/in/david-umoru/" target="_blank">LinkedIn</a
      >
      <a href="https://x.com/theumoru" target="_blank">Twitter</a>
      <a href="https://www.instagram.com/theumoru/" target="_blank">Instagram</a
      >
    </div>
    <div class="subscribe">
      <SubscribeForm />
    </div>
  </div>
</footer>

<style>
  footer {
    font-size: var(--step--1);
    padding-block: var(--space-l);
    width: 100%;
    border-top: 1px solid var(--gray-6);
  }

  .content {
    display: grid;
    grid-template: "links1 links2 form" 1fr "banner banner form" auto / 0.5fr 0.5fr 2fr;
    gap: var(--space-m) var(--space-xl);
  }

  @media (width < 650px) {
    .content {
      grid-template: "form form" "links1 links2" "banner banner" / 1fr 1fr;
      gap: var(--space-xl);
    }
  }

  .links {
    display: flex;
    flex-flow: column wrap;
    gap: var(--space-2xs);
  }

  .links a {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: max(0.1em, 2.5px);
    text-decoration-color: var(--gray-9);
  }

  .links:first-child {
    grid-area: links1;
  }

  .links:last-child {
    grid-area: links2;
  }

  .subscribe {
    grid-area: form;
  }
</style>
