---
import { displayDate } from "../lib/mediumDate";
import ThemeToggle from "../components/ThemeToggle.astro";
const now = displayDate(new Date());
---

<header class="container">
  <div class="row">
    <div class="flow" data-bendo="full">
      <a href="/" class="h1">davidumoru.me</a>
      <p>I write code and design sometimes</p>
    </div>
    <nav>
      <div>
        <a
          href="/about"
          aria-current={Astro.url.pathname.includes("/about") ? "page" : false}
          class="">About</a
        >
      </div>
      <div>
        <a
          href="/posts"
          aria-current={Astro.url.pathname.includes("/posts") ? "page" : false}
          class="">Posts</a
        >
      </div>
      <div>
        <a
          href="/projects"
          aria-current={Astro.url.pathname.includes("/projects")
            ? "page"
            : false}
          class="">Projects</a
        >
      </div>
    </nav>
  </div>
  <div class="row-with-toggle">
    <p class="fs--1 date-info">
      This site was updated on {now}.
    </p>
    <ThemeToggle />
  </div>
</header>
<style>
  header {
    display: flex;
    flex-direction: column;
    background: currentColor;
    gap: var(--border-weight);
    flex-grow: 1;
    padding-inline: 0 !important;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--border-weight);
    background: currentColor;
  }
  :where(.row, nav) > *:not(nav) {
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
    flex-grow: 1;
    background-color: var(--gray-1);
    display: grid;
    align-content: center;
  }
  .row > [data-bendo="full"] {
    flex-grow: 99999;
  }
  nav {
    display: flex;
    inline-size: 100%;
    gap: var(--border-weight);
    @media (width > 40rem) {
      flex-direction: column;
      inline-size: unset;
    }
  }
  nav a {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs);
  }
  nav [aria-current="page"] {
    font-weight: bold;
  }
  .row-with-toggle {
    display: flex;
    align-items: center;
    background-color: var(--gray-1);
    padding: var(--space-2xs) var(--space-xs);
    position: relative;
  }
  .date-info {
    flex-grow: 1;
  }
  :global(.theme-toggle-button) {
    position: absolute;
    right: var(--space-xs);
    top: 50%;
    transform: translateY(-50%);
  }
</style>
