---
import { displayDate } from "../lib/date";
import { getWeatherData } from "../lib/openmeteo";

const now = displayDate(new Date());
const weatherData = await getWeatherData();
---

<header class="container">
  <div class="row">
    <div class="flow" data-bendo="full">
      <a href="/" class="h1">David Umoru</a>
      <p class="fs--1">Developer, Designer</p>
    </div>
    <nav>
      <div>
        <a
          href="/"
          aria-current={Astro.url.pathname === "/about" ? "page" : false}
          class="">About</a
        >
      </div>
      <div>
        <a
          href="/"
          aria-current={Astro.url.pathname === "/blog" ? "page" : false}
          class="">Blog</a
        >
      </div>
      <div>
        <a
          href="/projets/"
          aria-current={Astro.url.pathname.includes("/projects")
            ? "page"
            : false}
          class="">Projects</a
        >
      </div>
      <div>
        <a
          href="/notes/"
          aria-current={Astro.url.pathname.includes("/notes") ? "page" : false}
          class="">Notes</a
        >
      </div>
    </nav>
  </div>
  <div class="row">
    <p>
      The last update was made on {now}, il faisait {weatherData.temperature}°c {
        weatherData.meteoStatus && ` et ${weatherData.meteoStatus}.`
      }
    </p>
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    background: currentColor;
    gap: var(--border-weight);
    flex-grow: 1;
    padding-inline: 0 !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--border-weight);
    background: currentColor;
  }

  :where(.row, nav) > *:not(nav) {
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
    flex-grow: 1;
    background-color: var(--gray-1);
    display: grid;
    align-content: center;
  }

  .row > [data-bendo="full"] {
    flex-grow: 99999;
  }

  nav {
    display: flex;
    inline-size: 100%;
    gap: var(--border-weight);
    @media (width > 40rem) {
      flex-direction: column;
      inline-size: unset;
    }
  }
  nav a {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs);
  }

  nav [aria-current="page"]::after {
    content: "←";
  }
</style>
