---
import { displayDate } from "../lib/longDate";
import Picture from "./Picture.astro";

interface Props {
  title: string;
  description?: string;
  img?: ImageMetadata[];
  imgAlt?: string;
  datePublished?: Date;
}

const { title, description, img, imgAlt, datePublished } = Astro.props;
---

<header class="page-header">
  <h1>
    {title}
  </h1>
  {description && <p class="sub">{description}</p>}
  {
    datePublished && (
      <p class="date">
        {datePublished ? displayDate(datePublished) : "Unknown Date"}
      </p>
    )
  }
  {
    img && imgAlt && (
      <div class="page-image">
        <Picture img={img} imgAlt={imgAlt} />
      </div>
    )
  }
</header>

<style>
  .page-header {
    padding-block-end: var(--space-l);
  }

  .sub {
    margin-block: var(--space-2xs);
    color: var(--gray-12);
    font-size: var(--fs-3);
    font-weight: 400;
    max-width: 34rem;
  }
  @media (width < 650px) {
    .sub {
      font-size: var(--fs-2);
    }
  }

  .date {
    margin-block-start: var(--space-2xs);
    font-size: var(--fs-1);
    color: var(--gray-12);
  }

  .page-image {
    overflow: hidden;
    border-radius: 0.3rem;
    margin-block-start: var(--space-l);
  }
</style>
