---
import { displayDate } from "../lib/mediumDate";
import Picture from "./Picture.astro";
import { Icon } from "./Icon/Icon";

interface Props {
  title: string;
  description?: string;
  img?: ImageMetadata[];
  imgAlt?: string;
  datePublished?: Date;
}

const { title, description, img, imgAlt, datePublished } = Astro.props;
---

<header class="page-header">
  <h1 itemprop="name" class="page-title fs-2">
    {title}
  </h1>
  {description && <p class="shade">{description}</p>}
  {
    datePublished && (
      <span class="fs--1 date">
        <Icon icon="penNib" size="16" />
        Written {datePublished ? displayDate(datePublished) : "Unknown Date"}
      </span>
    )
  }
  {
    img && imgAlt && (
      <div class="page-image">
        <Picture img={img} imgAlt={imgAlt} />
      </div>
    )
  }
</header>

<style>
  .page-header {
    padding-block-end: var(--space-l);
  }

  .page-title {
    line-height: 3.1rem;
  }

  @media (max-width: 768px) {
    .page-title {
      line-height: 2.3rem;
    }
  }
  .page-image {
    background: var(--gray-5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 2%;
    margin-block-start: var(--space-m);
  }

  .date {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
  }
</style>
