---
import { displayDate } from "../lib/mediumDate";
import Picture from "./Picture.astro";
import { Icon } from "./Icon/Icon";

interface Props {
  title: string;
  description?: string;
  img?: ImageMetadata[];
  imgAlt?: string;
  datePublished?: Date;
}

const { title, description, img, imgAlt, datePublished } = Astro.props;
---

<header class="page-header">
  <h1 itemprop="name" class="page-title">
    {title}
  </h1>
  {description && <p class="shade fs-2">{description}</p>}
  {
    datePublished && (
      <span class="fs--1 shade date">
        <Icon icon="penNib" size="16" />
        {datePublished ? displayDate(datePublished) : "Unknown Date"}
      </span>
    )
  }
  {
    img && imgAlt && (
      <div class="page-image">
        <Picture img={img} imgAlt={imgAlt} />
      </div>
    )
  }
</header>

<style>
  .page-header {
    padding-block-end: var(--space-l);
  }
  .page-image {
    overflow: hidden;
    border-radius: 0.3rem;
    margin-block-start: var(--space-l);
  }

  .date {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
  }
</style>
