---
import { getEntry } from "astro:content";
import { displayDate } from "../lib/shortDate";
import { makeRoute } from "../lib/routes";

export type Props = {
  slug: string;
};

const { slug } = Astro.props;
const entry = await getEntry("posts", slug);
if (!entry) throw new Error(`No entry found for slug: ${slug}`);
const { title, description, date } = entry.data;
const url = makeRoute("/posts/[slug]", { slug });
---

<article class="flow">
  <div class="header">
    <span>{displayDate(date)}</span>
    <a href={url} class="underline">
      <h3>{title}</h3>
    </a>
  </div>
</article>

<style>
  article {
    max-inline-size: 66ch;
  }
  article:not(:first-child) {
    margin-block: var(--space-m);
  }
  .header {
    display: flex;
    align-items: last baseline;
    gap: var(--space-2xs);
  }
</style>
