---
import { displayDate } from "../lib/shortDate";

interface Props {
  url: string;
  title: string;
  datePublished?: Date;
}

const { url, title, datePublished } = Astro.props;
---

<article class="flow">
  <div class="header">
    {datePublished ? displayDate(datePublished) : "Unknown Date"}
    <a href={url} class="underline">
      <h3>{title}</h3>
    </a>
  </div>
</article>

<style>
  article {
    max-inline-size: 66ch;
  }
  article:not(:first-child) {
    margin-block: var(--space-m);
  }
  .header {
    display: flex;
    align-items: last baseline;
    gap: var(--space-2xs);
  }
</style>
