---
import type { ComponentKey } from "./componentRegistry";

interface Props {
  componentKey: ComponentKey;
  hydration: "load" | "idle" | "visible" | "none";
}

const { componentKey, hydration } = Astro.props;

import "../../style/tailwind/index.css";
import AnimatedCardsCarousel from "./Experiments/animated-cards-carousel";
import HoveringProfiles from "./Experiments/hovering-profiles";
import StackedAvatars from "./Experiments/stacked-avatars";
import PillButton from "./Experiments/pill-button";
import SwipeableCardStack from "./Experiments/swipeable-card-stack";
import AnimatedTabs from "./Experiments/animated-tabs";
---

<div class="experiment-showcase">
  {
    componentKey === "AnimatedCardsCarousel" && (
      <>
        {hydration === "load" && <AnimatedCardsCarousel client:load />}
        {hydration === "idle" && <AnimatedCardsCarousel client:idle />}
        {hydration === "visible" && <AnimatedCardsCarousel client:visible />}
        {(hydration === "none" || !hydration) && <AnimatedCardsCarousel />}
      </>
    )
  }
  {
    componentKey === "HoveringProfiles" && (
      <>
        {hydration === "load" && <HoveringProfiles client:load />}
        {hydration === "idle" && <HoveringProfiles client:idle />}
        {hydration === "visible" && <HoveringProfiles client:visible />}
        {(hydration === "none" || !hydration) && <HoveringProfiles />}
      </>
    )
  }
  {
    componentKey === "StackedAvatars" && (
      <>
        {hydration === "load" && <StackedAvatars client:load />}
        {hydration === "idle" && <StackedAvatars client:idle />}
        {hydration === "visible" && <StackedAvatars client:visible />}
        {(hydration === "none" || !hydration) && <StackedAvatars />}
      </>
    )
  }
  {
    componentKey === "PillButton" && (
      <>
        {hydration === "load" && <PillButton client:load />}
        {hydration === "idle" && <PillButton client:idle />}
        {hydration === "visible" && <PillButton client:visible />}
        {(hydration === "none" || !hydration) && <PillButton />}
      </>
    )
  }
  {
    componentKey === "SwipeableCardStack" && (
      <>
        {hydration === "load" && <SwipeableCardStack client:load />}
        {hydration === "idle" && <SwipeableCardStack client:idle />}
        {hydration === "visible" && <SwipeableCardStack client:visible />}
        {(hydration === "none" || !hydration) && <SwipeableCardStack />}
      </>
    )
  }
  {
    componentKey === "AnimatedTabs" && (
      <>
        {hydration === "load" && <AnimatedTabs client:load />}
        {hydration === "idle" && <AnimatedTabs client:idle />}
        {hydration === "visible" && <AnimatedTabs client:visible />}
        {(hydration === "none" || !hydration) && <AnimatedTabs />}
      </>
    )
  }
</div>

<style>
  .experiment-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 3rem;
    border: 1px solid var(--gray-6);
    overflow: hidden;
    background-color: var(--gray-2);
    min-height: 23rem;
  }
</style>
