---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../style/index.css";
export type Props = {
  title?: string;
  description?: string;
};
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Meta description -->
    <meta
      name="description"
      content={description
        ? description
        : "David Umoru is a software engineer and designer who writes code and designs impactful digital experiences."}
    />

    <!-- Open Graph meta tags -->
    <meta
      property="og:title"
      content={title ? `${title} - David Umoru` : "David Umoru"}
    />
    <meta
      property="og:description"
      content="I write code and design sometimes."
    />
    <meta property="og:image" content="https://davidumoru.me/static/meta.jpg" />
    <meta property="og:image:alt" content="David Umoru profile picture" />
    <meta property="og:url" content="https://davidumoru.me" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={title ? `${title} - David Umoru` : "David Umoru"}
    />
    <meta
      name="twitter:description"
      content="I write code and design sometimes."
    />
    <meta
      name="twitter:image"
      content="https://davidumoru.me/static/meta.jpg"
    />
    <meta name="twitter:image:alt" content="David Umoru profile picture" />
    <meta name="twitter:url" content="https://davidumoru.me" />

    <title>{title && `${title} - `} David Umoru</title></head
  >

  <body>
    <Header />
    <main class="container flow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
