---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TableOfContents from "../components/TableOfContents.tsx";
import type { MarkdownHeading } from "astro";
import type { TransitionAnimationPair } from "astro";
import UnstyledBaseLayout from "./UnstyledBaseLayout.astro";

export type Props = {
  title?: string;
  description?: string;
  hideFooter?: boolean;
  headings?: MarkdownHeading[];
};
const { title, description, hideFooter, headings } = Astro.props;

const forwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutUp",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInUp",
    duration: "0.3s",
    delay: "0.1s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const backwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutDown",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInDown",
    duration: "0.3s",
    delay: "0.1s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const viewTransition = {
  forwards,
  backwards,
};
---

<UnstyledBaseLayout title={title} description={description}>
  <Header transition:persist />
  <main class="flow" transition:animate={viewTransition}>
    <slot />
  </main>
  {
    headings && headings.length > 0 && (
      <aside class="toc-sidebar-global">
        <TableOfContents client:load />
      </aside>
    )
  }
  {!hideFooter && <Footer />}
</UnstyledBaseLayout>

<style is:global>
  main {
    margin-top: 6rem;
    min-height: 72vh;
  }
  @media (max-width: 1200px) {
    main {
      margin-top: 0;
    }
  }

  .toc-sidebar-global {
    position: fixed;
    top: 6rem;
    right: 6rem;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
    z-index: 30;
  }

  @media (max-width: 1536px) {
    .toc-sidebar-global {
      top: 5rem;
      right: 3rem;
      max-height: calc(100vh - 7rem);
    }
  }

  @media (max-width: 1450px) {
    .toc-sidebar-global {
      display: none;
    }
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-16px);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(16px);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-16px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
